# Air関連
tmp/
air.log

# バイナリファイル
main
go-mysql-crud

# IDE関連
.idea/
.vscode/

# Go関連
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# OS関連
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
